O\.*
bin
db
dbd
^include$
^lib$
^envPaths$
^html$
^rtf$
^acqiris-drv4$
^LinuxDevDrv$
^as$
\.cproject
\.project
Yong.txt
acqiris-drv4-from_acqiris-rtems-driver.zip
acqirisApp/Db/acqiris_trigger.db.orig
iocBoot/iocacqiris/envPaths
nmDumpAcqiris.txt
updateAcqirisApps.sh
acqirisApp/src/Makefile

